:root {
  --preto: #111;
  --dourado: #c9a93a;
  --cinza-claro: #f8f8f8;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: var(--preto);
  color: white;
}

.site-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--preto);
  border-bottom: 2px solid var(--dourado);
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.main-nav ul li a {
  text-decoration: none;
  color: var(--dourado);
  font-weight: bold;
}

.hero img {
  width: 100%;
  height: auto;
}

.section-title {
  text-align: center;
  font-size: 2em;
  color: var(--dourado);
  margin-top: 40px;
}

.imoveis-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.imovel img {
  width: 100%;
  border-radius: 8px;
}

.sobre-section {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: #f9f9f9;
  flex-wrap: wrap;
}

.sobre-section img {
  max-width: 300px;
  border-radius: 12px;
  order: 2;
}

.sobre-section .texto-sobre {
  flex: 1;
  font-family: 'Playfair Display', serif;
  color: #333;
  order: 1;
}



.cta-banner {
  background-color: var(--dourado);
  text-align: center;
  padding: 30px;
  color: var(--preto);
  font-weight: bold;
}

.site-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--preto);
  border-top: 2px solid var(--dourado);
}

.footer-contact a {
  color: var(--dourado);
  text-decoration: none;
}
